<%# app/views/layouts/_footer.html.erb %>
<div class="ui inverted vertical footer segment" style="margin-top: 3em; padding: 3em 0em;">
  <div class="ui container">
    <p>&copy; <%= Time.now.year %> Credify. Todos os direitos reservados.</p>
  </div>
</div>