<div class="ui inverted menu" style="border-radius:0;">
  <div class="ui container">
    <%= link_to root_path, class: "header item" do %>
      <i class="handshake outline icon"></i>
      Credify
    <% end %>

    <%= link_to "Início", root_path, class: "item" %>

    <%# Adicione outros links de navegação aqui %>
    <%# Exemplo: %>
    <%#= link_to "Pessoas", pessoas_path, class: "item" %>
    <%#= link_to "Cartões", cartoes_path, class: "item" %>

  </div>
</div>
